<%- include('../../default-front/partials/header'); %>
<div class="container">
  <div class="row">
    <% if (locals.error) { %>
      <div class="col-12 text-center alert alert-danger">
        <strong>Something wrong happened :</strong> <br>
        <%= locals.error %> <br>
        <a href="<%= locals.linkTo('/order') %>">Click here to try again</a>
      </div>
    <% } %>
    </div>
  </div>
</div>
<%- include('../../default-front/partials/footer'); %>
