<!DOCTYPE html>
<html>
  <head>
    <title><%= locals.config.name %></title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimal-ui" />

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css" integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy" crossorigin="anonymous">

  </head>


  <body>

  <header>
    <div class="container mb-5 mt-5">
      <div class="row">
        <div class="col-12 text-center">
          <h1><a href="/"><img src="<%- locals.linkTo('public', 'logo.png') %>"></a></h1>
        </div>
      </div>
    </div>
  </header>