<%- include(`./partials/header`) %>
<div class="container">
  <div class="row">
    <div class="col-12 text-center">
      <h1>Thank you for your order.</h1>
      Your order has been accepted.
    </div>
  </div>
</div>
<%- include(`./partials/footer`) %>